# Target -> EDA, formulasikan masalah klasifikasi dari dataset (buat model ml)

default prediction model for lending club, target_column -> loan_condition_cat (0 iku apik, 1 iku elek)

# Dataset Identification

## Import Libraries

Import all libraries needed for this project.

In [1]:
import matplotlib as plt
import numpy as np
import pandas as pd
import seaborn as sns

## Load The Dataset

Load The Irish Dummy Bank dataset of Peer-to-Peer Lending transactions.

In [2]:
irish_bank_data = pd.read_csv('./dataset/loan_final313.csv')
irish_bank_data.head()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster

In [3]:
irish_bank_data.drop(columns = 'id', inplace = True)
irish_bank_data.head()

,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,loan_amount,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,5000,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,2500,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,2400,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,10000,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,3000,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster

## Identify Dataset Shape

Identify the shape of the dataset in the format of row and coloumn

In [4]:
irish_bank_data.shape

(887379, 29)

In [5]:
irish_bank_data.columns

Index(['year', 'issue_d', 'final_d', 'emp_length_int', 'home_ownership',
       'home_ownership_cat', 'income_category', 'annual_inc', 'income_cat',
       'loan_amount', 'term', 'term_cat', 'application_type',
       'application_type_cat', 'purpose', 'purpose_cat', 'interest_payments',
       'interest_payment_cat', 'loan_condition', 'loan_condition_cat',
       'interest_rate', 'grade', 'grade_cat', 'dti', 'total_pymnt',
       'total_rec_prncp', 'recoveries', 'installment', 'region'],
      dtype='object')

In [7]:
irish_bank_data.dtypes

year                      int64
issue_d                  object
final_d                   int64
emp_length_int          float64
home_ownership           object
home_ownership_cat        int64
income_category          object
annual_inc                int64
income_cat                int64
loan_amount               int64
term                     object
term_cat                  int64
application_type         object
application_type_cat      int64
purpose                  object
purpose_cat               int64
interest_payments        object
interest_payment_cat      int64
loan_condition           object
loan_condition_cat        int64
interest_rate           float64
grade                    object
grade_cat                 int64
dti                     float64
total_pymnt             float64
total_rec_prncp         float64
recoveries              float64
installment             float64
region                   object
dtype: object

In [6]:
irish_bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  887379 non-null  int64
 1   issue_d               887379 non-null  object
 2   final_d               887379 non-null  int64
 3   emp_length_int        887379 non-null  float64
 4   home_ownership        887379 non-null  object
 5   home_ownership_cat    887379 non-null  int64
 6   income_category       887379 non-null  object
 7   annual_inc            887379 non-null  int64
 8   income_cat            887379 non-null  int64
 9   loan_amount           887379 non-null  int64
 10  term                  887379 non-null  object
 11  term_cat              887379 non-null  int64
 12  application_type      887379 non-null  object
 13  application_type_cat  887379 non-null  int64
 14  purpose               887379 non-null  object
 15  purpose_cat           887379 non-null  int64
 16  interest_payments     887379 non-null  object
 17  interest_payment_cat  887379 non-null  int64
 18  loan_condition        887379 non-null  object
 19  loan_condition_cat    887379 non-null  int64
 20  interest_rate         887379 non-null  float64
 21  grade                 887379 non-null  object
 22  grade_cat             887379 non-null  int64
 23  dti                   887379 non-null  float64
 24  total_pymnt           887379 non-null  float64
 25  total_rec_prncp       887379 non-null  float64
 26  recoveries            887379 non-null  float64
 27  installment           887379 non-null  float64
 28  region                887379 non-null  object
dtypes: float64(7), int64(12), object(10)
memory usage: 196.3+ MB

## Variables Identification

### Import module

iki teks

In [ ]:
train = pd.read_csv("loan_final313.csv")

In [ ]:
train.dtypes

In [ ]:
train.shape

In [ ]:
train.describe()

In [ ]:
train['final_d']= pd.to_datetime(train['final_d'])

In [ ]:
train['loan_amount'].value_counts()

In [ ]:
train['id'].unique()

## Filter

In [ ]:
train[(train['income_cat'] == "Low")]

## Finding Null Values

In [ ]:
train.apply(lambda x: sum(x.isnull()),axis=0)

## Data Distribution

In [ ]:
train['installment'].hist(bins=25) #skewed iki nang kiri

In [ ]:
print(train.boxplot(column='interest_rate'))

In [ ]:
train.boxplot(column=’disbursed_amount’, by = ‘Employment.Type’)

In [ ]:
sns.boxplot(x=train['asset_cost'])

## Count Plot

In [ ]:
sns.countplot(train.loan_condition_cat)

In [ ]:
sns.countplot(train.home_ownership)

# iki bedo